@using System.Data


<script type="text/javascript">

    $(document).ready(function () {

        $('#ServerObjectsTree').jstree({
            'core': {
                "themes": {
                    "dots": true,
                    "icons": true
                },
                "check_callback": true,
                'data': {
                    'url': function (node) {
                        return node.id === '#' ?
                          'Home/GetRootNodes' :
                          'Home/GetChildren';
                    },
                    'data': function (node) {
                        return {
                            'id': node.id,
                            'NodeData': node.data,
                            'NodeText': node.text

                        };
                    }
                }
            },
            "plugins": ["contextmenu", "themes", "ui"]
        }).bind("select_node.jstree", function (event, data) {
            alert("Some action");
        })
    })

</script>


<div id="ServerObjectsTree">
</div>
