<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    <script src="~/Scripts/libs/jquery.js">  </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jstree.js">  </script>
</body>
</html>