@using System.Data


<script type="text/javascript">

    $(document).ready(function () {

        $('#demo1').jstree({
            'core': {
                "themes": {
                    "dots": true,
                    "icons": true
                },
                "check_callback": true,
                'data': {
                    'url': function (node) {
                        return node.id === '#' ?
                          'Main/GetRootNodes' :
                          'Main/GetChildren';
                    },
                    'data': function (node) {
                        return {
                            'id': node.id,
                            'NodeData': node.data,
                            'NodeText': node.text

                        };
                    }
                }
            },
            "plugins": ["contextmenu", "themes", "ui"],
            "contextmenu": {
                "items": function ($node) {
                    return {
                        "create": {
                            "label": "Select First 100",
                            "action": function (node) {
                                $.ajax({
                                    url: "@Url.Action("ContextMenu", "Main")",
                                    type: "Post",
                                    data: {
                                        'NodeText': $node.text,
                                        'NodeData': $node.data,
                                        'containerId' : "ResultTabPanel"

                                    },
                                    datatype: "string",
                                    success: function (data) {
                                        $.globalEval(data);
                                    }
                                });
                            }
                        },
                        "SelectMore": {
                            "label": "Select First 1000",
                            "action": function (obj) {
                                this.SelectMore(obj);
                            }
                        }
                    };
                }
            }
        });

        $('#demo1').bind(
        "select_node.jstree", function (evt, data) {
            
            $.ajax({
                url: "@Url.Action("CashDB", "Main")",
                type: "POST",
            data: {
                'NodeData': data.node.text
            },
            datatype: "string",
            success: function (data) {

            }
        });
        }
);

    })
</script>


<div id="demo1" >

</div>
